*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://codermerlin.com/users/sophie-hews/digitalPortfolioImages/sophie4.jpg)
    ;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #6ff02d;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%; 
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    transition: 1s;
}
.text-box h1:hover{
    color: #f0e547
}
.text-box p{
    text-align: center;
    margin: 10px 0 40px;
    padding-left: 10px;
    font-size: 14px;
    color: #fff;
    transition: 0.5s;
}

.text-box p:hover{
color: #bb5
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    positon: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 3px solid #ee4443;
    background: #ffa06b;
    transition: 1.25s;
}

/*    Questionsssss */

.questions{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h4{
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    margin: 10px 0;
    font-family: "Times New Roman", Times, serif;
}
h1{
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    font-family: "Times New Roman", Times, serif;
}
h1:hover{
    color: #ffa203;
}
p{
    color: #000;
    text-indent: 2em;
    text-align: left;
    font-size: 12px;
    line-height: 2;
    padding-left: 2em;
    padding-right: 2em;
    transition: 0.5s;
    font-family: "Times New Roman", Times, serif;

}
p:hover{
    color: #ddf398;
}
.row{
    margin-top: 5%;
}
.question-col{
    flex-basis: 100%;
    background: #add7ea;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.question-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}

.cite-box{
    flex-basis: 100%;
    background: #fbffcb;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.cite-box:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}
.cite-box h4{
    font-size: 20px;
    transition: 0.5s;
}
.cite-box h4:hover{
    color: #e97b40
}
.cite-box p{
    font-size: 12px;
    color: #000;
    text-indent: 0;
    text-align: left;
    font-size: 12px;
    line-height: 2;
    transition: 0.5s;
    padding: 10px;
    font-family: "Times New Roman", Times, serif;
}
.cite-box p:hover{
    color: #f80a96;
}
a {
    color: #000;
    transition: 0.5s;
}
a:hover{
color:#f80a
}
