*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://codermerlin.com/users/sophie-hews/digitalPortfolioImages/PICT5619.JPG)
    ;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
    margin-right: 2.5%;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #6ff02d;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%; 
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    transition: 1s;
}
.text-box h1:hover{
    color: #f0e547
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    transition: 0.5s;
}

.text-box p:hover{
color: #bb5
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 3px solid #ee4443;
    background: #ffa06b;
    transition: 1.25s;
}

footer {
    text-align: center;
    color: #c7fbf0;
    font-weight: 500;
    background-color: #2f4857;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 1s;
}
footer a {
    color: #47f6fa;
    transition: 1s;
}

footer a:hover{
    color: #0c8f99;
}

footer:hover {
    background-color: #c7fbf0;
    color: #2f4857;
}		

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1;
    width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FF2E8F;
}

.dropdown:hover .dropdown-content {
    display: block;
}


